body {
    font-family: 'Open Sans', sans-serif;
    background: #F3F1FF;

}
header{
    background: #562EFF;
    padding: 10px;
    border-radius: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
nav a {
    text-decoration: none;
    padding-right: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
nav img{
    width: 30px;
    

}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.container {
    background: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.player-title {
    font-weight: 700;
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}

.player {
    display: flex;
    gap: 20px;
    align-items: center;
}

.player img {
    width: 25%;
}

.player-name {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

/* hr style */
hr {
    border: 1px solid #D1D1D1;
}

/* top blogs style */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;


}

.blog {
    display: flex;
    gap: 20px;

}

.blogs-title {
    font-weight: 700;
    font-size: 24px;
    color: #562EFF;
    margin-top: 33px;

}

.blog-title {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.blog-detail {
    color: #562EFF;
    font-weight: 400;
    font-size: 15px;
}

.blog a {
    text-decoration: none;
}

.blog img {
    width: 50%;
}

/* course style */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.course{
    width: 253px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

.coure-title {
    font-weight: 600;
    font-size: 21px;
    color: #000000;

}

.coure-authore {
    font-weight: 400;
    font-size: 15px;
    color: #ED6B4F;
}

.course .course-banner img {
    width: 224px;
    height: 104px;

}

.course-description {
    display: flex;
    gap: 20px;
    align-items: center;
}

.fa-star {
    font-size: 12px;

}

.fa-star.filed {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
    padding-right: 5px;
}

.course-duration {
    color: #FF4A60;
    background: #FFE4E8;
    border-radius: 14.6913px;
    font-weight: 600;
    font-size: 14.6913px;
    padding: 8px;
}

/*  responsive  */

/* Mobile device */
@media screen and (max-width:576px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    .player, .blog, nav{
        flex-direction: column;
        gap: 0px;

    }

    
}
/* Tablet device */
@media screen  and (min-width:577px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
    }
    .player, .blog{
        flex-direction: column;
      
    }

    
}